[Settings]
server=irc.freenode.net
port=6667
nick=ircnick
username=ircusername
password=None
realname=ircbot
hostname=gibson
servername=gibson
channel=#testircchannel
owner=owner
silent=False
delay=False
delayTime=5
verbose=False
ircRaw=True